[submodule "thirdparty/yamcs"]
	path = thirdparty/yamcs
	url = https://github.com/yamcs/yamcs.git
[submodule "thirdparty/yamcs-studio"]
	path = thirdparty/yamcs-studio
	url = https://github.com/yamcs/yamcs-studio.git
